 <div class="panel panel-info">
     <div class="panel-heading">Admin</div>
        <div class="panel-body">
            <ul>
                <li><a href="#" id="tipuser">Tipo de usuarios</a></li>
                <li><a href="#" id="saludo2">Saludo2</a></li>
                <li><a href="#">Link</a></li>
            </ul>
    </div>
</div>

