<div class="panel panel-info">
    <div class="panel-heading" align="center">
        <h4><strong> Homepage</strong></div>
    </div>
    <div class="panel-body">
        {% if user.is_authenticated %}
        <h2>Bienvenido {{user}}</h2>
        {% else %}
        <h2>
            <a href="{% url "login" %}">Login please</a>
        </h2>
        {% endif %}

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi recusandae dicta aspernatur ad amet, nesciunt nostrum iure excepturi vero, minima dolorem temporibus cum, laudantium corrupti tempora repudiandae id vitae consequatur.
    </div>
</div>
